{% extends 'mysite/_base.html' %}
{% load static %}
    {% block title %}Hanasu Register{% endblock title %}
    {% block content %}
    <section>
        <conteneur>
            <img src="{% static 'mysite/img/logo.png' %}">
        </conteneur>
        <form name="fo" method="post">
            <input type="text" name="name" placeholder="Name" required/>
            <input type="text" name="firstname" placeholder="Firstname" required/>
            <input type="date" name="age" placeholder="Age" required/>
            <input type="mail" name="mail" placeholder="Adress Mail" required/>
            <input type="text" name="pseudo" placeholder="Pseudo" required/>
            <input type="password" name="pass" placeholder="Password" required/>
            <input type="file" name="image" placeholder="Icon"/>
            <div>
                <label for="Check"><input type="checkbox" name="remenber" id="Check">J'accepte les conditions d'utilisations</label>
            </div>
            <!-- <input type="submit" value="Valider" name="Valider"/> -->
            <a href="/hanasu_home" class="Login">Login</a>
            
        </form>
    </section>
    {% endblock content %}