{% extends 'mysite/_base.html' %}
{% load static %}
    {% block title %}Hanasu{% endblock title %}
    {% block content %}
    <section>
        <conteneur>
            <img src="{% static 'mysite/img/logo.png' %}">
        </conteneur>
        <form name="fo" method="post">
            <input type="text" name="login" placeholder="Login"/>
            <input type="password" name="pass" placeholder="Mot de passe"/>
            <div>
                
                <label for="Check"><input type="checkbox" name="remenber" id="Check">Remenber me</label>
            </div>
            <input type="submit" value="S'identifier" name="Valider"/>
            <input type="submit" value="Annulé" name="Retour">
        </form>
    </section>
    {% endblock content %}